.tower-container {
    display: flex;
    flex-wrap: wrap;
}

.tower-wrapper {
    margin: 10px;
}
.number-square {
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: -10px;
    position: relative;
    z-index: 1;
    border-radius: 5px; /* Slightly rounded corners */
}

.tower-square {
    width: 90px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-radius: 5px; /* Slightly rounded corners */
}

.highlight {
    box-shadow: 0 0 10px 3px rgba(0, 123, 255, 0.5); /* Example: blue glow */
    /* You can also use other properties like border, background-color, etc., to highlight */
}

.highlight-received-tower {
    box-shadow: 0 0 10px 3px rgba(0, 255, 17, 0.5); /* Example: blue glow */
    /* You can also use other properties like border, background-color, etc., to highlight */
}

.custom-select-front {
    position: relative;
    z-index: 1000; /* Adjust the value as needed */
}

.cursor-pointer {
    cursor: pointer;
}

/* Tooltip container styles */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Tooltip content styles */
.tooltip-content {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

/* Tooltip arrow styles */
.tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.floating-boxes {
    position: absolute;
    z-index: 10;
    width: 200px; /* ou qualquer largura */
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 100%; /* Ajuste conforme necessário */
    left: -60%; /* Ajuste conforme necessário */
}

.floating-box {
    background-color: rgba(0,0,0);
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    font-size: 12px;
}
