.tower-container {
    display: flex;
    flex-wrap: wrap;
}

.tower-wrapper {
    margin: 10px;
}
.number-square {
    width: 90px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: -10px;
    position: relative;
    z-index: 1;
}

.tower-square {
    width: 90px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.highlight {
    box-shadow: 0 0 10px 3px rgba(0, 123, 255, 0.5); /* Example: blue glow */
    /* You can also use other properties like border, background-color, etc., to highlight */
}

.highlight-received-tower {
    box-shadow: 0 0 10px 3px rgba(0, 255, 17, 0.5); /* Example: blue glow */
    /* You can also use other properties like border, background-color, etc., to highlight */
}

.custom-select-front {
    position: relative;
    z-index: 1000; /* Adjust the value as needed */
}

.cursor-pointer {
    cursor: pointer;
}
