/* Classes para a animação de entrada */
.tooltip-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  .tooltip-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  /* Classes para a animação de saída */
  .tooltip-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .tooltip-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }

  /* Estilos para o conteúdo do tooltip */
  .tooltip-content {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  .tooltip-explode {
    animation: explode 0.5s ease-out;
  }

  @keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
